<ion-view title="Cards" id="page6" style="">
  <ion-content  class="has-header">



    <div class="list card">
      <div class="item item-avatar">
        <img src="https://pbs.twimg.com/profile_images/378800000411656087/f62c09abd8af33b66c72ac98dac96e63_400x400.jpeg">
        <h2>Павел Тютюнник</h2>
        <p>Март 10, 1975</p>
      </div>
      <div class="item item-body item-borderless">
        <img class="full-image" src="https://pbs.twimg.com/profile_images/378800000411656087/f62c09abd8af33b66c72ac98dac96e63_400x400.jpeg">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

    </div>


    <div class="card">
      <div class="item item-text-wrap">
        This is a basic Card which contains an item that has wrapping text.
      </div>
    </div>


    <div class="list card ">

      <div class="item item-avatar-left ">
        <img src="https://pbs.twimg.com/profile_images/378800000411656087/f62c09abd8af33b66c72ac98dac96e63_400x400.jpeg">
        <h2 class="assertive">Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </div>

      <div class="item item-image">
        <img src="https://pbs.twimg.com/profile_images/378800000411656087/f62c09abd8af33b66c72ac98dac96e63_400x400.jpeg">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-music-note"></i>
        Start listening
      </a>

    </div>

    <div class="card">
      <div class="item item-divider">
        I'm a Header in a Card!
      </div>
      <div class="item item-text-wrap">
        This is a basic Card with some text.
      </div>
      <div class="item item-divider">
        I'm a Footer in a Card!
      </div>
    </div>

    <div class="list card">

      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        Enter home address
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        Enter phone number
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        Enter wireless password
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Enter card information
      </a>

    </div>




  </ion-content>
</ion-view>
