
<ion-view title="Cart" id="page2" style="">


  <ion-content  class="has-header">



    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
      <button class="button button-clear">
        Cancel
      </button>
    </div>

    <i class="icon ion-star"></i>

    <a class="button button-block button-positive icon-right ion-navicon ">Reorder</a>

    <div class="row ">
      <div class="col col-50 assertive-bg">.col</div>
      <div class="col col-20 assertive-bg">.col</div>
      <div class="col col-20 assertive-bg">.col</div>
    </div>

    <div class="row responsive-lg">
      <div class="col"> qq</div>
      <div class="col assertive-bg">.col</div>
      <div class="col assertive-bg">.col</div>
      <div class="col assertive-bg">.col</div>
      <div class="col assertive-bg">.col</div>
      <div class="col assertive-bg">.col</div>
      <div class="col assertive-bg">.col</div>
      <div class="col assertive-bg">.col</div>
      <div class="col assertive-bg">.col</div>
      <div class="col assertive-bg">.col</div>
      <div class="col assertive-bg">.col</div>
      <div class="col assertive-bg">.col</div>


    </div>

  </ion-content>
</ion-view>
