<ion-view title="Cloud" id="page3" style="">
  <ion-content padding="true" class="has-header">

    <button class="button button-balanced button-large icon-right ion-home">
      Default 1
    </button>

    <div> aaa </div>
    <button class="button button-calm">
      Default
    </button>
  </ion-content>

  <div class="bar bar-footer">
  <button class="button button-clear" color="red" >Left</button>
  <div class="title">Title Footer</div>
  <button class="button button-clear pull-right">Right</button>
</div>
</ion-view>