<ion-view title="Home" id="page1" style="">
  <ion-header-bar class="bar-dark">
    <button class="button button-icon icon ion-bluetooth"></button>
    <h1 class="title">Header4</h1>
  </ion-header-bar>
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/Bp3wiraRaqc146NY9LQM_pavel_img.png" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="home-form1" class="list">
      <label class="item item-input" id="home-input1" name="sad">
        <span class="input-label">my title</span>
        <input placeholder="asasd asd" type="email">
      </label>
    </form>
    <button id="home-button1" style="" class="button button-positive  button-block ion-android-bulb " >Click me!</button>

    <button class="button button-positive button-block " > My own button</button>

  </ion-content>

  <div class="bar bar-footer bar-balanced ">
    <div class="title">Footer</div>
  </div>

</ion-view>
