<ion-view title="Lists" id="page4" style="">
  <ion-content  class="has-header">
    <!-- <ul class="list">
      <li class="item">Item One</li>
      <li class="item">Item Two</li>
      <li class="item">Item Three</li>
    </ul> -->

    <div class="list list-inset">
      <a href="#" class="item item-icon-left"> <i class="icon ion-email"></i> Check Mail</a>
      <a href="#" class="item">Item Two</a>
      <a href="#" class="item">Item Three</a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-chatbubble-working"></i> Call Ma  <i class="icon ion-ios-telephone-outline"></i>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-mic-a"></i>
          Record album
          <span class="item-note ">
            Grammy
          </span>
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker"></i>
        Friends
        <span class="badge badge-assertive">100</span>
      </a>
    </div>

  </ion-content>
</ion-view>
