<ion-view title="Lists 2" id="page5" style="">
  <ion-content  class="has-header">
    <!-- <ul class="list">
      <li class="item">Item One</li>
      <li class="item">Item Two</li>
      <li class="item">Item Three</li>
    </ul> -->

    <div class="list">
      <div class="item item-icon-right item-button ">

        Call
        <i class="icon ion-ios-telephone"></i>
        <button class="button button-positive item-icon-right ion-ios-telephone  ">
          Button here

        </button>

      </div>

    </div>

    <div class="list">
      <a class="item item-avatar" href="#">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ5H_5p6Ii2Zi7FaqB3tU2R376dKV_f8CBqZ1wO6GtUCDShRwfN" >
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </a>

    </div>

    <div class="list">

      <a class="item item-thumbnail-left" href="#">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsT71Z-3A030tagVK6oepp1HVnzzBc0VU_EH7VxCgS5zAAYtiG">
        <h2>Pretty Hate Machine</h2>
        <p>Nine Inch Nails</p>
      </a>

    </div>

  </ion-content>
</ion-view>
