<ion-side-menus enable-menu-with-back-views="false" style="">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-right has-header ">
      <ion-list id="menu-list1">
        <ion-item id="menu-list-item1" ui-sref="menu.home" menu-close="" style="">Home</ion-item>
        <ion-item id="menu-list-item2" ui-sref="menu.lists" menu-close="" style="">Lists</ion-item>
        <ion-item id="menu-list-item3" ui-sref="menu.lists2" menu-close="" style="">Lists 2</ion-item>
        <ion-item id="menu-list-item4" ui-sref="menu.cards" menu-close="" style="">Cards</ion-item>
        <ion-item id="menu-list-item5" ui-sref="menu.cart" menu-close="" style="">Cart</ion-item>
        <ion-item id="menu-list-item6" ui-sref="menu.cloud" menu-close="" style="">Cloud</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
